{% if page_obj.has_other_pages %}

<div class="btn-group" role="group" aria-label="Item pagination">

    {% if page_obj.has_previous %}

        {% if request.GET.obj %}
        <a href="?page={{ page_obj.previous_page_number }}&obj={{request.GET.obj}}" class="btn btn-outline-primary">&laquo;</a> 
        {% else %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a> 
        {% endif %} 

    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}

        {% if request.GET.obj %}   
      
            {% if page_obj.number == page_number %}
                <button class="btn btn-outline-primary active">
                    <span>{{ page_number }} <span class="sr-only">(Atual)</span></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}&obj={{request.GET.obj}}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}

        {% else %}  

            {% if page_obj.number == page_number %}
            <button class="btn btn-outline-primary active">
                <span>{{ page_number }} <span class="sr-only">(Atual)</span></span>
            </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}
        

        {% endif %}  

    {% endfor %}

    {% if page_obj.has_next %}
        {% if request.GET.obj %}
        <a href="?page={{ page_obj.next_page_number }}&obj={{request.GET.obj}}" class="btn btn-outline-primary">&raquo;</a>
        {% else %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}    
    {% endif %}

</div>
{% endif %}